.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(4, 3, 3);
  height: 9rem;
  /* background-image: url("/img/header\ pic.avif"); */
  /* object-fit: cover; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  display: flex;
  justify-content:left;
  align-items: center;
  width: 100%;
  color: rgb(173, 150, 22);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.Header-logo{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 40%;

} 


.img-icon{
  height: 9rem;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  width: 18rem;
}
